.form-container{
    @include grid();
    grid-template-rows: 3fr 1fr;
    height: 100%;
    @include media(){
        &{
            grid-template-rows: initial;
        }
    }
}
.login-form{
    display: flex;
    flex-direction: column;
    width: (100*(2/2.6))+vw;
    & > *{
        font-size: var(--header-2, $header2);
        margin-bottom: var(--mrgn, $mrgn);
    }
    & > .greetings{
        display: none;
        @include media(){
            & {
                display: inherit;
                font-weight: normal;
                font-size: var(--big-headline, $bigheadline);
                align-self: center;
            }
        }
    }
    & > .final-login{
        @include flex(initial, space-between);
        & > .forgot{
            font-size: var(--small-text, $smalltext);
        }
    }
    @include media(){
        &{
            width: initial;
            justify-self: stretch;
        }
    }
}
.sign-up-form{
    @include flex();
    & > *{
        font-size: var(--header-1, $header1);
    }
    & > h2{
        margin-bottom: 1em;
    }
    & > .body-container{
        display: none;
        @include media(){
            &{
                display: grid;
                align-items: flex-end;
                grid-gap: 0 5%;
                grid-template-columns: repeat(2, minmax(100px, 0.8fr));
                grid-template-rows: 1fr 1.3fr 2fr;
                & > .surname{
                    grid-column: 1 / 2;
                }
                & > .date-container{
                    grid-column: 2 / 3;
                    grid-gap: 0 8%;
                    grid-row: 1 / 3;
                    display: grid;
                    grid-template-columns: repeat(2, minmax(50px, 0.5fr));
                    grid-template-rows: 1fr 1.3fr;
                    align-items: flex-end;
                    & > *{
                        font-size: inherit;
                        text-align: center;
                    }
                    & > .year{
                        grid-column: 1 / 3;
                    }
                    & > label > input{
                        text-align: center;
                    }
                }
                & > button{
                    align-self: center;
                    justify-self: center;
                    font-size: var(--header-1, $header1);
                    grid-column: 1 / 3;
                }
                & > *{
                    font-size: var(--subtitle, $subtitle);
                }
            }
        }
    }

    @include media(){
        &{
            justify-content: initial;
            align-items: stretch;
            align-self: stretch;
            & > .button{
                display: none;
            }
            & > h2{
                text-align: center;
            }
        }
    }
}