:root{
    --c-bg: #{$cBg};
    --c-text: #{$cText};
    --d-font: #{$dFont};
    --l-Y: #{$lY};
    --l-X: #{$lX};
    --cntr: #{$cntr};
    --less-cntr: #{$lessCntr};
    --i-heigh: #{$iHeigh};
    --i-bord: #{$iBord};
    font-family: var(--d-font, $dFont);
}
*{
    color: var(--c-text, #{$cText});
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
body{
    background-color: var(--c-bg, $cBg);
    display: grid;
    grid-template-rows: 0.1fr auto;
    padding: 4vh 0;
    height: 100vh;
}
a{
    text-decoration: none;
}
label{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    & > span::first-letter{
        color: red;
    }
    & *{
        font-size: inherit;
    }
}

input{
    background-color: transparent;
    height: var(--i-heigh, $iHeigh);
    border: var(--i-bord, $iBord) solid var(--less-cntr, $lessCntr);
    border-radius: 0.5em;
    transition: border 0.3s linear;
    &:focus{
        outline: none;
        border: var(--i-bord, $iBord) solid var(--cntr, #{$cntr});
    }
}
button{
    display: inline-block;
    background-color: transparent;
    outline: none;
    border: 2.5px solid var(--less-cntr, $lessCntr);
    border-radius: 0.4em;
    height: 2.4em;
    width: 6.6em;
    cursor: pointer;
    transition: border-color 0.3s linear; 
    font-size: 1.5rem;
    &:hover{
        border-color: var(--cntr, $cntr);
    }
}
.c-cntr{
    color: var(--cntr, $cntr);
    font-size: inherit;
}
.button{
    @extend button;
    @include flex(initial);
    & > *{
        font-size: inherit;
    }
}
.logo-header{
    align-self: center;
    justify-self: center;
}
.logo-name{
    font-size: (45/16)+rem;
    font-weight: 600;
    & > span{
        font-size: 0;
        vertical-align: middle;
        &:before{
            content: '';
            display: inline-block;
            background: url('../img/logo.svg') no-repeat center top /cover;
            height: var(--l-X, $lX);
            width: var(--l-Y, $lY);
        }
    }
}
.checkbox{
    display: flex;
    align-items: center;
    & > label{
        display: initial;
        font-size: 1.2rem;
        & > .box{
            display: inline-block;
            width: 0.7em;
            height: 0.7em;
            border: 1.3px solid var(--less-cntr, $lessCntr);
            transition: border 0.2s linear;
            margin-right: 10px;
            position: relative;
            &:before{
                content: '';
                display: inline-block;
                position: absolute;
                width: 90%;
                height: 45%;
                border-left: 1px solid white;
                border-bottom: 1px solid white;
                transform: rotate(-45deg);
                transition: opacity 0.2s linear;
                opacity: 0;
            }
        }
    }
    & > input:checked + label > .box{
        border: 1.3px solid var(--cntr, $cntr);
        &::before{
            opacity: 1;
        }
    }
}
.full-logo{
    display: none;
    @include media(){
        &{
            background: url('../img/logo.svg') no-repeat center center /cover;
            width: 38vw;
            height: 39vw;
            display: inherit;
            align-self: center;
        }
    }
}
.main-body{
    @include flex(initial, $ali: stretch);
    & > .full-logo{
        display: none;
        @include media(){
            &{
                background: url('../img/logo.svg') no-repeat center center /cover;
                width: 38vw;
                height: 39vw;
                display: inherit;
                align-self: center;
            }
        }
    }
    @include media(){
        &{
            justify-content: space-around;
            align-items: initial;
        }
    }
}