.sign-up-form{
    @include grid();
    grid-template-rows: 3fr 1fr;
    & > .body-container{
        width: (100*(2/2.6))+vw;
        display: flex;
        flex-direction: column;
        & > *{
            margin-bottom: var(--mrgn, $mrgn);
            font-size: var(--header-2, $header2);
        }
        & > .sendbtn {
            align-self: flex-end;
            margin-top: 2.2vh;
        }
        & > .date-container{
            display: grid;
            grid-template-columns: repeat(2, minmax(50px, 0.5fr)) minmax(60px, 1fr);
            grid-template-rows: auto;
            grid-gap: 0 1em;
            & > *{
                font-size: 1.2rem;
                text-align: center;
            }
            & > label > input{
                text-align: center;
            }
        }
    }
}
.login-back{
    @include flex();
    & > *{
        font-size: var(--header-1, $header2);
    }
    & > h2{
        margin-bottom: 1em;
    }
}