$cBg: #212020;
$cText: white;
$dFont: 'Mina', sans-serif;
$lY: 66px;
$lX: 67px;
$cntr: #DF2F2F;
$lessCntr: #640101;
$iHeigh: 2.05em;
$iBord: 3px;
$header1: 2rem;
$header2: 1.45rem;
$bigheadline: 3.45rem;
$subtitle: 1.25rem;
$smalltext: 0.9rem;
$mrgn: 2.8vh;